{
  "env": {
    "client": {
      "presets": ["react", ["env", {
        "targets": { "browsers": "> 2%" }
      }]]
    },
    "server": {
      "presets": ["react", ["env", {
        "targets": { "node": true }
      }]]
    }
  }
}
