{
  "extends": "airbnb",
  "rules":  {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js"] }]
  },
  "env": {
    "browser": true
  }
}
